/* Geral */      /*Comentário em CSS é diferente*/
body, p, h1, h2, input, textarea {
    margin: 0; /* Colocando elementos uns mais juntos aos outros */
    font-family: Roboto;
}

h2 {
    font-size: 30px;
}

/* Navbar */
/* Quando tem um Id no HTML, seleciona o Id utilizando a # e o nome do Id, ex.: #navbar */
#navbar {
    background-color: #ED1E24; /* Cor de fundo é um vermelho */
    color: #FFF; /* Cor de todos os textos é branca */
    padding: 0 15px; /* Espaçamento na lateral da navbar é de 15px */
    height: 60px; /* Altura da navbar é de 60px */
}

#navbar h2, #navbar ul, #navbar-list li, #navbar nav {
    display: inline-block; /* Elementos um ao lado do outro */
}

/* Ajustando para que os textos h2 fiquem com a mesma altura da navbar, centralizando os textos */
#navbar h2 {
    margin: 0;
    line-height: 60px;
    margin-left: 55px;
}

/* Redimensionando, girando e colocando na posição absoluta a figura Estrela Ninja */
#navbar img {
    height: 40px; /* Redimensionando da altura da imagem, para ficar menor */
    transform: rotate(45deg); /* Girando a imagem em 45 graus */
    position: absolute; /* Colocando a imagem na posição absoluta, onde se quiser */
    top: 10px;
}

/* Configurando a lista de navegação */
#navbar nav {
    float: right; /* Alinhados à direita */
}

/* Configurando a lista de navegação */
#navbar ul {
    margin-top: 22px; /* Configuração de margem superior (22px) */
}

/* Configurando os itens de navegação */
#navbar li {
    margin: 0 10px; /* Configuração de margem superior e inferior (0), laterais (10px) */
}

/* Configurando cor dos links */
#navbar-list li a {
    text-decoration: none;
    color: #FFF; /* Cor do link é branca */
}

/* Configurando ação ao passar mouse por cima dos links */
#navbar-list li a:hover {
    border-bottom: 1px solid #FFF; /* Borda de embaixo do elemento quando o mouse passar por cima */
}



/* Banner */  
#main-banner {
    height: 70vh; /* Utiliza 70% do espaço vertical/altura da tela */  
    background-image: url(../img/bg-projeto.jpg); 
    background-size: cover; /* Para a imagem poder aproveitar melhor o espaço e mostrar o máximo dela */
    padding-top: 15vh; /* Colocar o conteúdo do banner para baixo */
}

#banner-info {
    width: 40%;
    margin-right: auto; /* Para centralizar o elemento na tela */
    margin-left: auto; /* Para centralizar o elemento na tela */
    text-align: center;
    color: #FFF; /* Cor do texto é branca */
    padding: 50px; 
}

#banner-info img {
    height: 120px; 
    border-radius: 50%; /* Raio da borda em 50%, para deixar a imagem redonda */
    background-color: #ED1E24; /* Como se fosse um círculo vermelho em volta */
    margin-top: 30px; /* Para centralizar o elemento na tela */
    margin-bottom: 30px; /* Para centralizar o elemento na tela */
}

#banner-info p {
    background-color: #ED1E24; /* Como se fosse um círculo vermelho em volta */
    font-weight: bold;
    width: 200px; /* Para centralizar o elemento na tela */
    margin-right: auto; /* Para centralizar */
    margin-left: auto; /* Para centralizar */
    padding: 15px; 
}



/* Seção Sobre */
#about-section {
    text-align: center;
    background-color: #ED1E24; 
    color: #FFF; 
    padding-top: 50px; 
    height: 350px;
}

#about-section h2 {
    margin-bottom: 20px;
}

#about-section p {
    max-width: 650px;
    margin-right: auto; 
    margin-left: auto; 
    line-height: 30px; /* Alteração dando mais espaço na altura de linha */
}



/* Seção Skills */
#skills-section {
    margin-top: -100px; /* Para parte da seção Skill aparecer em cima da seção Sobre */
    background-color: #FFF; 
    width: 80%;
    margin-right: auto; 
    margin-left: auto; 
    border: 1px solid #DDD;
    border-radius: 10px;
}

#skills-section .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills-container {
    flex: 1 1 1;
    text-align: center;
    padding: 60px 25px;/* Espaçamento aos cantos */
}

.central {
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}

.skills-container h3 {
    color: #ED1E24; 
    font-size: 20px;
}

.skills-container img {
    height: 60px;
    padding: 15px;
    margin-bottom: 25px;
    border-top: 1px solid #ED1E24; 
    border-left: 1px solid #ED1E24; 
    border-bottom: 4px solid #ED1E24; 
    border-right: 4px solid #ED1E24; 
}

.skills-container .subtitle {
    font-weight: bold;
    color: #ED1E24;
    margin-top: 50px;
    margin-bottom: 15px;
}

.skills-container p {
    line-height: 25px;
}

#jobs-section {
    text-align: center;
    padding-top: 50px;
}

#jobs-section h2 {
    color: #ED1E24; 
    margin-bottom: 30px;
}

#jobs-section p {
    margin-bottom: 50px;
}

#jobs-section a {
    font-weight: bold;
    color: #ED1E24; 
}

.job-container {
    display: flex;
    flex-direction: row; /* colocar uma imagem do lado da outra */
    justify-content: space-around; /* colocar uma imagem com espaço uma da outra */
    max-width: 1200px;
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 50px;
}

.job-box {
    flex: 1 1 200px; /* largura mínima da imagem será de 200px para não distorcer */
    margin-left: 25px;
    margin-right: 25px; 
    height: 300px;
    background-size: cover;
    border-right: 2px solid #ED1E24; 
    border-bottom: 2px solid #ED1E24; 
}

.proj1 {
    background-image: url('../img/proj1.jpg');
}

.proj2 {
    background-image: url('../img/proj2.jpg');
}

.proj3 {
    background-image: url('../img/proj3.jpg');
}



/* Rodapé - Footer */
footer {
    padding: 50px 0;
    background-color: #ED1E24;
    color: #FFF;
    text-align: center;
}

footer img {
    height: 60px;
    margin: 30px 0;
}

footer p {
    margin-top: 25px;
}

footer form {
    width: 400px;
    margin-left: auto; 
    margin-right: auto; 
}

footer input, footer textarea {
    font-weight: bold;
    border: none;
    padding: 15px;
    box-sizing: border-box; /* Para os elementos ficaram da largura desejada - 400px */
    margin-bottom: 20px;
    width: 100%; /* ocupando 100% dos 400px definidos no footer form acima */
}

footer .detail {
    font-weight: bold;
    color: black;
}